name: tf-checks
on:
  push:
    branches: [ master ]
  pull_request:
  workflow_dispatch:
jobs:
  complete-example:
    uses: clouddrove/github-shared-workflows/.github/workflows/stf-checks.yml@521761c1a5cf68d919980a2ed84b755182aeabfe # pinned to latest
    with:
      working_directory: './_examples/complete/'

# Seperate Job for TFlint workflow call
  tf-lint:
    uses: clouddrove/github-shared-workflows/.github/workflows/tf-lint.yml@f6cad30db3bfad5fc248a08ab65ac82eb8dbcb82 # pinned to latest
    secrets: 
      GITHUB: ${{ secrets.GITHUB }}
