name: tflint

on:
  push:
    branches: [ master ]
  pull_request:
  workflow_dispatch:

jobs:
  tf-lint:
    uses: clouddrove/github-shared-workflows/.github/workflows/tf-lint.yml@c615ea7ef3e5beba98a335bf9acce8e67e03c755 # pinned to latest
    secrets:
      GITHUB: ${{ secrets.GITHUB }}
